
header {
    width: 100%;
    background-color: magenta;
    height: 20px;
    padding: 10;
    position: sticky;
    top: 0;
}
section {
    display: inline-block;
    vertical-align: top;
    width: 60%;
}
aside {
    display: inline-block;
    vertical-align: top;
    width: 39%;
}

article {
    width: 100%;
    background-color: hotpink   ;
}

#top-logo {
    width: 100%;
}

.article-image {
    width: 100%;
    height: 90%;
}

.article-desc {
    margin-top: 0px;
}

@media screen and (max-width:600px) {
    article {
        background-color: blue;
    }
    aside {
        display: block;
        width: 100%;
    }
    section {
        display: block;
        width: 100%;
    }

}

